<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Vegana Shop Test Suite" parallel="false" verbose="1">
    
    <!-- ============================================ -->
    <!-- USER MODULE - All User Tests                 -->
    <!-- ============================================ -->
    
    <test name="User Tests">
        <classes>
            <class name="com.java.automation.tests.user.UserTest"/>
        </classes>
    </test>
    
    <!-- ============================================ -->
    <!-- ADMIN MODULE - All Admin Tests               -->
    <!-- ============================================ -->
    
    <test name="Admin Tests">
        <classes>
            <class name="com.java.automation.tests.admin.AdminTest"/>
        </classes>
    </test>
    
</suite>
